body {
    padding: 10px;
    margin: 20px;
    background-color: #FFFFFF;
}

/* App layout */

.timestamp {
    font-size: 1.5em;
    background: none;
    box-shadow: none;
}

.pill-content section {
    display: none;
}

.pill-content .active {
    display: block;
}

#sound {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Jenkins */

.jenkins {
    color: #FFFFFF;
    background-color: gray;
    display: inline-block;
    padding: 40px;
    margin: 20px;
    -moz-box-shadow: 5px 5px 5px #333333;
    -webkit-box-shadow: 5px 5px 11px #333333;
    -o-box-shadow: 5px 5px 11px #333333;
    -ms-box-shadow: 5px 5px 11px #333333;
    box-shadow: 5px 5px 11px #333333;
    border-radius: 8px;
    font-size: 2em;
}

.jenkins.blue {
    background: #749a02;
    -webkit-animation: greenPulse 4s infinite;
}

.jenkins.blue_anime,
.jenkins.red_anime,
.jenkins.yellow_anime,
.jenkins.aborted_anime {
    background: #3861b6;
}

.jenkins.yellow {
    color: black;
    background: yellow;
}

.jenkins.red {
    background: #a01208;
}

.jenkins.job_disabled_or_aborted {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    position: absolute;
    color: DarkRed;
    border: 10px dashed black;
    margin: 0;
    padding: 10px;
    font-size: 2.5em;
}

@-webkit-keyframes greenPulse {
    from {
        background-color: #749a02;
        -webkit-box-shadow: 0 0 9px #333333;
        -webkit-box-shadow: 5px 5px 11px #333333;
    }

    50% {
        background-color: #91bd09;
        -webkit-box-shadow: 0 0 18px #91bd09;
        -webkit-box-shadow: 15px 15px 32px #333333;
    }

    to {
        background-color: #749a02;
        -webkit-box-shadow: 0 0 9px #333333;
        -webkit-box-shadow: 5px 5px 11px #333333;
    }
}

/* Environments */

.environment header {
    font-size: 2em;
}

.environment.error {
    background: #a01208;
}